LOG_LEVEL=INFO
MONGODB_URL=mongodb://127.0.0.1:27017/prod_db
MONGODB_DBNAME=prod_db
MAX_CONNECTIONS_COUNT=10
MIN_CONNECTIONS_COUNT=3
TEST_DB_NAME=test_app_db
TEST_MONGODB_URL=mongodb://127.0.0.1:27017/test_app_db
